<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Prueba.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Prueba.Properties.Settings.PIDE_TU_CANCHAConnectionString"
            connectionString="Data Source=zidane;Initial Catalog=PIDE_TU_CANCHA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Prueba.Properties.Settings>
            <setting name="idUsuario" serializeAs="String">
                <value>0</value>
            </setting>
        </Prueba.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="ConexionSQL" value="Data Source=zidane;Initial Catalog=PIDE_TU_CANCHA;persist security info=True;Integrated Security=SSPI;"/>
  </appSettings>
</configuration>